{% extends "base.html" %}

{% block head_title %}Shattered Sky{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Shattered Sky" />
  <meta name="twitter:title" content="Shattered Sky" />

  <meta name="description" content="what's it all for..?" />
  <meta name="og:description" content="mrrp mrrowww media as it should be. find your meowmunity among hundreds of cats, unleash your meows, and have some fun again :3" />
  <meta name="twitter:description" content="mrrp mrrowww media as it should be. find your meowmunity among hundreds of cats, unleash your meows, and have some fun again :3" />

  <meta property="og:url" content="https://social.shatteredsky.net" />
  <meta name="twitter:url" content="https://social.shatteredsky.net" />
  <link rel="canonical" href="https://social.shatteredsky.net" />

  <meta property="og:image" content="https://pds.tgirl.cloud/xrpc/com.atproto.sync.getBlob?did=did:plc:ctg5hooybw3rquejsfebsegs&cid=bafkreianap3iqgxlifqssuhut2ggiuitpmltw3lfvzq7tnzbsv26npzfxq" />
  <meta property="twitter:image" content="https://pds.tgirl.cloud/xrpc/com.atproto.sync.getBlob?did=did:plc:ctg5hooybw3rquejsfebsegs&cid=bafkreianap3iqgxlifqssuhut2ggiuitpmltw3lfvzq7tnzbsv26npzfxq"  />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
