{% extends "base.html" %}

{% block head_title %}Shattered Sky{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Shattered Sky" />
  <meta name="twitter:title" content="Shattered Sky" />

  <meta name="description" content="An ATproto social media client -- with an independent Appview." />
  <meta name="og:description" content="An ATproto social media client -- with an independent Appview." />
  <meta name="twitter:description" content="An ATproto social media client -- with an independent Appview." />

  <meta property="og:url" content="https://social.shatteredsky.net" />
  <meta name="twitter:url" content="https://social.shatteredsky.net" />
  <link rel="canonical" href="https://social.shatteredsky.net" />

  <meta property="og:image" content="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:jrtgsidnmxaen4offglr5lsh/bafkreia7dadot7fklsuceinfguakdlfeuncjnlnuek3aazyu5sbtfb4rfy@jpeg" />
  <meta property="twitter:image" content="https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:jrtgsidnmxaen4offglr5lsh/bafkreia7dadot7fklsuceinfguakdlfeuncjnlnuek3aazyu5sbtfb4rfy@jpeg"  />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
